<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tamagochi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tamagochi.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PetImages" serializeAs="String">
                <value />
            </setting>
            <setting name="GameTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="PetAge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PetLifeDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PetMoodLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PetSatietyLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PetHealthLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PetType" serializeAs="String">
                <value />
            </setting>
        </Tamagochi.Properties.Settings>
    </userSettings>
</configuration>